@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav-bar {
  /* margin-left: px;
    display: flex;
    justify-content: space-between; */
}
.nav-tital {
  /* Mithu Ahammad*/

  display: flex;

  position: absolute;
  width: 328px;
  height: 33px;
  left: 120px;
  top: 30px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  /* line-height: 33px; */
  /* letter-spacing: 0%; */
  /* text-align: left; */
}

.download-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-family: Azeret Mono;
  /* Frame 2 */
  position: absolute;
  width: 244px;
  height: 57px;
  left: 950px;
  top: 38px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 17px 24px 17px 24px;
}

.hero-section {
  background-image: url("");
  border: 2px solid;
  position: absolute;
  width: 1240px;
  height: 652px;
  left: 0;
  right: 0;
  top: 131px;
  bottom: 4462px;
  margin-left: px;
}
/* -----main------ */
#why-dev {
  /* Frame 13 */
  position: absolute;
  width: 1140px;
  height: 1393px;
  left: 100px;
  right: 0px;
  top: 857px;
  bottom: 2995px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10;
  padding: 80px 97px 80px px;

  border-radius: 16px;

  background: rgba(13, 19, 33, 0.02);
}
.why-web {
  /* padding-top: 200px; */
}
.web-titel {
  /* Why Web Development?? */
  position: relative;
  width: 852px;
  height: 37px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24;
  padding: 0px;
  padding-left: 90px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.web-p {
  position: static;
  width: 852px;
  height: 52px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24;
  /* padding: 0px; */
  padding-left: 120px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.change-world {
  /* Frame 8 */
  position: static;
  width: 946px;
  height: 336px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
  padding: 48px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.coding-world {
  /* I will Do Coding and Change The World */
  position: static;
  width: 390px;
  height: 72px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.coding-world-p {
  /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
  position: static;
  width: 468px;
  height: 52px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.coding-world-img {
  /* Group */
  position: absolute;
  width: 259.56px;
  height: 217.01px;
  left: 0.36%;
  right: -0.36%;
  top: 1.74%;
  bottom: -1.74%;
}

.coding-world-btn{
    /* Frame 7 */
position: static;
width: 171px;
height: 47px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}